/* LandingPage.css */

.landing-container {
  height: 100vh;
  background-image: url('../../public/images/landscape.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-content {
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darkens the content background */
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #cc5200;
}

